.container {
  display: flex;
}

.profileBox {
  width: 400px;
  height: 400px;
  margin-top: 140px;
  margin-left: 100px;
  border-radius: 54px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  transition: 0.75s;
  background-color: white;
  
  box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
}

/* .profileBox:hover {
  box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  background-color: #fff6a9;
  background-color: white;
} */

.profileBox img {
  width: 400px;
  border-radius: 40px;
}

.summaryBox {
  width: 600px;
  margin-top: 80px;
  margin-left: 80px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.summaryBox p:hover {
  text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  color: black;
  background-color: #fff6a9;
  box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  border-radius: 10px;
  padding: 10px;
}

.summaryBox p {
  font-size: 24px;
  text-align: justify;
  color: #c4c4c4;
  margin: 0px;
  transition: 0.3s;
  
}

.about {
  width: 390px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 140px;
  margin-left: 80px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about h1 {
  font-size: 30px;
  color: aqua;
  margin: 0px;
  text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  color: #fff6a9;
  letter-spacing: 4px;
}

@media all and (min-width: 480px) and (max-width: 900px) {
  .container {
    display: flex;
    /* border: 1px solid black;; */
    width: 100%;
  }

  .profileBox {
    width: 230px;
    height: 230px;
    margin-top: 60px;
    margin-left: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
  }

  .profileBox:hover {
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    background-color: #fff6a9;
  }

  .profileBox img {
    width: 230px;
    border-radius: 20px;
  }

  .summaryBox {
    width: 380px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .summaryBox p:hover {
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: black;
    background-color: #fff6a9;
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    border-radius: 6px;
    padding: 6px;
  }

  .summaryBox p {
    font-size: 15px;
    text-align: justify;
    color: #c4c4c4;
    margin: 0px;
  }

  .about {
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 60px;
    margin-left: 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .about h1 {
    font-size: 20px;
    color: aqua;
    margin: 0px;
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: #fff6a9;
    letter-spacing: 2px;
  }
}

@media all and (min-width: 140px) and (max-width: 480px) {
  .container {
    display: grid;
    /* border: 1px solid black; */
    width: 480px;
    justify-content: center;
    align-items: center;
  }

  .profileBox {
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 12px;
    /* border: 1px solid black; */
  }

  .profileBox:hover {
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    background-color: #fff6a9;
  }

  .profileBox img {
    width: 350px;
    border-radius: 30px;
  }

  .about {
    width: 360px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    padding: 5px;
    margin-top: -450px;
    margin-bottom: 470px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .about h1 {
    font-size: 26px;
    color: aqua;
    margin: 0px;
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: #fff6a9;
    letter-spacing: 3px;
  }

  .summaryBox {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .summaryBox p:hover {
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: black;
    background-color: #fff6a9;
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    border-radius: 6px;
    padding: 6px;
  }

  .summaryBox p {
    font-size: 20px;
    text-align: justify;
    color: #c4c4c4;
    margin: 0px;
  }
}
