.navbar1 {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar1 a {
    text-decoration: none;
    font-size: 24px;
    transition: 0.25s;

}
.navbar1 a button{
    border: none;
    background-color: #02171f;
    font-size: 24px;
    cursor: pointer;
    color: #C4C4C4;
}

.navbar1 a:hover {
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8, 0 0 40px #96D7E9, 0 0 60px #31a9d8, 0 0 10px #96D7E9, 0 0 98px #31a9d8;
    color: #fff6a9;
}

.active {
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8, 0 0 40px #96D7E9, 0 0 60px #31a9d8, 0 0 10px #96D7E9, 0 0 98px #31a9d8;
    color: #fff6a9;
}

.unactive {
    color :#C4C4C4;
}

.navContainer {
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: #02171f;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 30px 90px;
    z-index: 10;
}

.sec1, .sec2, .sec3, .sec4, .sec5 {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    font-size: 16px;
    color : rgb(159, 125, 187);
    /* border: 2px solid white */
}

.name{
    width: 350px;
}
.name a{
    text-decoration: none;
    
}
.name h2{
    color: aqua;
    font-size: 30px;
    font-stretch: ultra-expanded;
    letter-spacing: 4px;
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8, 0 0 40px #96D7E9, 0 0 60px #31a9d8, 0 0 10px #96D7E9, 0 0 98px #31a9d8;
    color: #fff6a9;  
}

.sec1{
    margin-top: -82px;
}
.menu{
    display: none;;
}



@media all and (min-width: 480px ) and (max-width: 900px) {
    .navContainer {
        width: 100%;
        height: 60px;
        margin: auto;
        background-color: #02171f;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 30px 90px;
    }
    .navbar1 {
        /* border: 1px solid red; */
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .navbar1 a {
        text-decoration: none;
        font-size: 16px;
    }

    .navbar1 a button{
        border: none;
        background-color: #02171f;
        font-size: 16px;
        cursor: pointer;
        color: #C4C4C4;
    }
    
    .navbar1 a:hover {
        color: aqua;
    }
    
    .active {
        color: aqua
    }
    
    .unactive {
        color :#C4C4C4;
    }

    .name{
        width: 220px;
    }
    .name a{
        text-decoration: none;
        
    }
    .name h2{
        color: aqua;
        font-size: 20px;
        font-stretch: ultra-expanded;
        letter-spacing: 3px;
    }

    .sec1, .sec2, .sec3, .sec4, .sec5 {
        min-height: 400px;
        width: 100%;
        /* height: 50vh; */
        display: flex;
        justify-content: center;
        font-size: 16px;
        color : rgb(159, 125, 187);
        /* border: 1px solid white */
    }
    .menu{
        display: none;;
    }
}

@media all and (min-width: 140px ) and (max-width: 480px) {

    .navContainer {
        width: 100%;
        height: 80px;
        margin: auto;
        background-color: #02171f;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 30px 90px;
    }

    .navbar1 {
        /* border: 1px solid red; */
        display: none;
        width: 50%;
        justify-content: space-around;
    }
    .navbar1 a {
        text-decoration: none;
        font-size: 14px;
    }

    .navbar1 a button{
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 30px;
        color: black;
        font-weight: 500;
        
    }
    
    .navbar1 a:hover {
        color: aqua;
    }
    
    .active {
        color: aqua
    }
    
    .unactive {
        color :#C4C4C4;
    }

    .name{
        width: 250px;
        margin: auto;
        position: relative;
    }
    .name a{
        text-decoration: none;
    }
    .name h2{
        color: aqua;
        font-size: 30px;
        font-stretch: ultra-expanded;
        letter-spacing: 2px;
    }

    .sec1, .sec2, .sec3, .sec4, .sec5 {
        min-height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 16px;
        color : rgb(159, 125, 187);
        /* border: 1px solid white */
    }

    .menu{
        display: block;
        width: 30px;
        margin-right: 10px;
        padding: 0px 3px;
        box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
        0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
        background-color: aqua;
        cursor: pointer;
        position: sticky;
        /* border:1px solid #02171f; */
        border-radius: 5px;
    }
    .menu img{
        width: 100%;
        display: block;
    }

    .menubar{
        display: grid;
        justify-content: center;
        margin-top: 594px;
        margin-left: 140px;
        padding: 40px 0px 80px 0px;
        width: 360px;
        position: absolute;
        row-gap: 25px;
        box-shadow:  0 0 10px #95e7fa, 0 0 508px #000000;
        background-color: white;
        transition: 0.75;
        /* border: 1px solid black; */
        text-align: left;
        border-radius: 20px 0px 0px 20px
    }
    .menubar a{
        font-size: 30px;
        color: black;
    }
}