.container {
  width: 100%;
}

.skills {
  margin: auto;
  margin-top: 110px;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.skills h1 {
  font-size: 40px;
  color: aqua;
  margin: 0px;
  letter-spacing: 12px;
  text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  color: #fff6a9;
}

.iconcontainer {
  width: 1100px;
  margin: auto;
  margin-top: 50px;
  padding: 40px 0px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.iconBox {
  width: 1100px;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 120px);
  gap: 100px;
}
.iconBox > div {
  border-radius: 25px;
  padding: 10px;
  /* width: 120px; */
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.75s;
}

.iconBox > div:hover {
  box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
    0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
  background-color: #fff6a9;
}

.iconBox img {
  width: 100%;
}
.iconBox div > img:nth-child(6) {
  width: 100px;
}


@media all and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 100%;
    /* border: 1px solid black; */
  }

  .skills {
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    padding: 6px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .skills h1 {
    font-size: 30px;
    color: aqua;
    margin: 0px;
    letter-spacing: 8px;
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: #fff6a9;
  }

  .iconcontainer {
    width: 700px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .iconBox {
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 50px;
  }
  .iconBox div {
    border-radius: 18px;
    padding: 6px;
    width: 80px;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .iconBox div:hover {
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    background-color: #fff6a9;
  }

  .iconBox img {
    width: 80px;
  }
}

@media all and (min-width: 140px) and (max-width: 480px) {
  .container {
    width: 100%;
    /* border: 1px solid black; */
  }

  .skills {
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    padding: 6px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .skills h1 {
    font-size: 30px;
    color: aqua;
    margin: 0px;
    letter-spacing: 8px;
    text-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    color: #fff6a9;
  }
  .iconcontainer {
    width: 430px;
    margin: auto;
    margin-top: 40px;
    padding: 30px 0px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 1px solid black; */
  }

  .iconBox {
    width: 430px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 80px);
    /* grid-template-rows: auto; */
    row-gap: 50px;
    column-gap: 100px;
  }
  .iconBox div {
    border-radius: 18px;
    padding: 6px;
    width: 80px;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .iconBox div:hover {
    box-shadow: 0 0 5px #1388a8, 0 0 15px #1388a8, 0 0 20px #1388a8,
      0 0 40px #96d7e9, 0 0 60px #31a9d8, 0 0 10px #96d7e9, 0 0 98px #31a9d8;
    background-color: #fff6a9;
  }

  .iconBox img {
    width: 100%;
  }
}
