
body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #343F50; */
  background-color: #003140;
  color :#C4C4C4;
  /* background-color: #fff6a9; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@media all and (min-width: 480px ) and (max-width: 768px) {
  body{
    width: 768px;
  }
  
}

@media all and (min-width: 140px ) and (max-width: 480px) {
  body{
    width: 480px;
  }
}